
.col-md-6{
    background: white !important;
}
/* Navbar */
.navbar{
    width:47.5vw;
    height:9vh;
    background: rgb(231, 184, 27) !important;
    color:rgb(77, 73, 73) !important;
    position: absolute;
}

.fa-arrow-left{
text-decoration: none;
background: rgb(231, 184, 27) !important;
color: aliceblue;
border: 2px solid aliceblue;
padding: 10% !important;
width:8vw;
height: auto;


font-size: 1.5rem;
}

a{
    text-decoration: none;
 
    
}

a:hover{
    text-decoration: none;
     color:rgb(77, 73, 73) !important;
     	transform: scale(1.04);
    
}

.message {
    display: block;
    padding: 15px 30px;
    background: #fff289;
    width: calc(100% + 52px);
    margin: 0 0 0 -26px;
    letter-spacing: .5px;
}

/* Navbar */

.container{
	margin-top:12vh;
    background: rgb(231, 184, 27) !important;
    
    padding:3%;
    color:rgb(255, 255, 255);
}

.one{
    	margin-top:12vh;
    background: rgb(231, 184, 27) !important;
    text-align: center;
    padding:3%;
    color:rgb(255, 255, 255);
}


/* Categories */

.two{

	margin-top:1vh;
    background: rgb(87, 146, 161) !important;
    text-align: center;
    padding:1%;
    color:rgb(255, 255, 255);
    border-radius: 10px;
}

.three{

    margin-top:1vh;
    background: rgb(133, 178, 189) !important;
    padding:1%;
    color:rgb(2, 66, 75);
    border-radius: 10px;  
    font-size: 1.2rem;
    
}

.fa-chevron-right{
    margin-left: 32vw;
}

.fa-percent{
    margin-left: 1vw;;
}
/* .row{
	margin-top: 40px;
	margin-left:8vw;
} */

#myNumber{
    background: rgba(71, 76, 85, 0.822);
    color:white;
    text-align: center;
    width:60px;
    height: 40px;
    border-radius: 20%;
    margin-left: 18vw;
	font-size: 1.2rem;
}

.item{
	text-align: center;
	margin-top:40px;
}

.menu-item{
	font-size: 1.5rem;
}

.item2{
	margin-left: 10vw;
	margin-top:40px;
}
.menu-item2{
	
	font-size: 1.2rem;
	margin-left: 0;
}

.Add{
	margin-left: 18vw;
	font-size: 1.2rem;
}

.price{
	font-size: 1.1rem;
}

.btn:hover{
	transform: scale(1.05);
}


/*// Categories */