.navbar{
    width:100vw;
    height:8vh;
    background: black !important;
    color:white !important;
    position: absolute;
}


.logo{
    margin-top: 15vh;
    height:20vh;
    width:auto;
  margin-left:42vw;
  margin-right:30vw;

  
}

.form-inline{
    margin-top: 10vh;
   margin-left: 42vw;
	margin-right:30vw;
	
}

.form-control{
font-size: 1.3rem;
}

.btn-outline-success{
	font-size: 1.3rem;
}

.heading{
	margin-left: 33vw;
	padding: 3%;
}

/* Cards */
/* Lazy Load Styles */
.card-image {
    display: block;
    height:20vh;
   background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
    width: 100%;
   
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}




/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
    width: 90%;
	max-width: 18rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1.5em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h3 {
	margin: 0 0 0.5em;
}

/* Cards */

/* Categories */

.container{
	background: rgba(243, 223, 229, 0.568) !important;
}

.two{
	background: rgba(208, 237, 250, 0.568) !important;
}

.row{
	margin-top: 40px;
	margin-left:8vw;
}
.categories{
	background: white;
	margin: 5%;
}

.heading2{
	margin-left: 30vw;
	color:black;
	font-size: 2rem;
	padding: 20px 20px;
}

.heading3{
	margin-left: 24vw;
	color:black;
	font-size: 2rem;
	padding: 25px 25px;
}

.Add{
	margin-left: 14vw;
}

.View{

	margin-top:10vh;
	margin-left: 35vw;
	margin-bottom: 5vh;
	font-size: 1.5rem;
	background: rgba(219, 171, 11, 0.671);
	
}

/*// Categories */

/* Footer */

.footer{
	margin-top:10vh;
	padding:0;
	background: black;
	color:white;
	width:100vw;
	height:28vh;
}

.list{
	margin-top:2vh;
	font-size: 1.5rem;
	margin-left: 40vw;
}

.list:hover{
	 text-shadow: 2px 2px 1px rgb(255, 208, 0);
}